In [2]:
import pandas as pd

In [5]:
nodeLengths = pd.read_table("chr1_cluster.p95.s5000.n17.k47.G700-900-1100.at9852.pggbRecommended/chr1.fasta.gz.856e650.e34d4cd.a91cbe1.smooth.final.og.nodeLength.txt", 
                            )

In [6]:
nodeDepths = pd.read_table("chr1_cluster.p95.s5000.n17.k47.G700-900-1100.at9852.pggbRecommended/chr1.fasta.gz.856e650.e34d4cd.a91cbe1.smooth.final.og.nodeDepth.txt",
                          )

In [7]:
nodeDepths.head()

   #node.id  depth  depth.uniq
0        13      2           2
1         2      1           1
2         3      1           1
3        15      2           2
4        12      1           1

In [8]:
test=pd.merge(nodeLengths, nodeDepths, how = "inner", on = ['#node.id'])

In [9]:
test.head()

   #node.id  length  depth  depth.uniq
0         1    4517      1           1
1         2    1957      1           1
2         3       3      1           1
3         4      17      2           2
4         5       2      1           1

In [10]:
test.to_csv("chr1_cluster.p95.s5000.n17.k47.G700-900-1100.at9852.pggbRecommended/chr1.fasta.gz.856e650.e34d4cd.a91cbe1.smooth.final.og.nodeDepthLength.txt",
            sep = "\t",
            index = None,)